In [70]:
#Import Dependencies
import pandas as pd
import numpy as np


import seaborn as sn
import matplotlib.pyplot as plt

In [77]:
#testing replacing CA

file = "Resources/listings.csv"

df = pd.read_csv(file)
columns_to_keep = ["zipcode", "room_type", "accommodates", "bedrooms", "bathrooms", "beds", "minimum_nights", "number_of_reviews", "price"]
df = df[columns_to_keep]

#drop all rows with nulls
data_df.dropna(how='any', inplace=True)

#make copy of df to avoid warning errors
data_df = df.copy()

# Price is a string.  Remove $ and convert into float
# https://stackoverflow.com/questions/32464280/converting-currency-with-to-numbers-in-python-pandas
data_df["price"] = data_df["price"].replace('[\$,]', '', regex=True).astype(float)

#there is one row where they have "CA" for zipcode.  Drop that row.
data_df=data_df[data_df.zipcode != "CA"]

#some zipcodes start with CA.  replace "CA " with "" 
#https://stackoverflow.com/questions/13682044/remove-unwanted-parts-from-strings-in-a-column
data_df["zipcode"] = data_df["zipcode"].replace('CA ', '', regex=True)

#drop all rows with nulls
data_df.dropna(how='any', inplace=True)

#convert zipcodes to intergers - ask justin if we need to do this?????
data_df["zipcode"] = data_df["zipcode"].astype(str).astype(int)

#we only want to keep prices below $800
data_df = data_df[data_df.price < 800]

data_df.to_csv("Output/cleaned_data.csv", index = False)

data_df.head(20)

,zipcode,room_type,accommodates,bedrooms,bathrooms,beds,minimum_nights,number_of_reviews,price
0,94117,Entire home/apt,3,1.0,1.0,2.0,1,240,170.0
1,94110,Entire home/apt,5,2.0,1.0,3.0,30,111,235.0
2,94117,Private room,2,1.0,4.0,1.0,32,19,65.0
3,94117,Private room,2,1.0,4.0,1.0,32,8,65.0
4,94117,Entire home/apt,4,2.0,1.5,2.0,5,28,703.0
5,94110,Private room,3,1.0,1.0,1.0,1,736,139.0
6,94107,Private room,2,1.0,1.0,1.0,1,531,135.0
7,94110,Entire home/apt,4,2.0,1.0,3.0,30,337,150.0
8,94109,Entire home/apt,2,0.0,1.0,1.0,30,18,120.0
9,94117,Entire home/apt,3,3.0,1.0,3.0,30,37,177.0
10,94102,Entire home/apt,5,3.0,2.0,3.0,30,15,110.0
11,94102,Entire home/apt,2,1.0,1.5,1.0,30,20,121.0
12,94117,Private room,2,1.0,3.0,2.0,32,6,85.0
13,94117,Private room,2,1.0,3.0,2.0,32,5,85.0
14,94114,Private room,1,1.0,1.0,1.0,3,427,79.0
15,94117,Entire home/apt,4,2.0,1.0,3.0,30,17,117.0
16,94105,Entire home/apt,4,2.0,2.0,2.0,30,14,450.0
17,94114,Entire home/apt,3,0.0,1.0,1.0,30,63,107.0
18,94117,Private room,2,1.0,1.0,1.0,2,415,110.0
19,94133,Entire home/apt,2,1.0,1.0,1.0,30,119,125.0

In [75]:
data_df.dtypes

zipcode                int32
room_type             object
accommodates           int64
bedrooms             float64
bathrooms            float64
beds                 float64
minimum_nights         int64
number_of_reviews      int64
price                float64
dtype: object

In [92]:
#create bins for price bins
bins = [0]
group_names = []

for i in range (0,80):
    x = round((i*10) +9.99,3)
    bins.append(x)
    name = "bin " + str(i*10) + "-" + str(x)
    group_names.append(name)
    
print(bins, group_names)
print(len(bins), len(group_names))

[0, 9.99, 19.99, 29.99, 39.99, 49.99, 59.99, 69.99, 79.99, 89.99, 99.99, 109.99, 119.99, 129.99, 139.99, 149.99, 159.99, 169.99, 179.99, 189.99, 199.99, 209.99, 219.99, 229.99, 239.99, 249.99, 259.99, 269.99, 279.99, 289.99, 299.99, 309.99, 319.99, 329.99, 339.99, 349.99, 359.99, 369.99, 379.99, 389.99, 399.99, 409.99, 419.99, 429.99, 439.99, 449.99, 459.99, 469.99, 479.99, 489.99, 499.99, 509.99, 519.99, 529.99, 539.99, 549.99, 559.99, 569.99, 579.99, 589.99, 599.99, 609.99, 619.99, 629.99, 639.99, 649.99, 659.99, 669.99, 679.99, 689.99, 699.99, 709.99, 719.99, 729.99, 739.99, 749.99, 759.99, 769.99, 779.99, 789.99, 799.99] ['bin 0-9.99', 'bin 10-19.99', 'bin 20-29.99', 'bin 30-39.99', 'bin 40-49.99', 'bin 50-59.99', 'bin 60-69.99', 'bin 70-79.99', 'bin 80-89.99', 'bin 90-99.99', 'bin 100-109.99', 'bin 110-119.99', 'bin 120-129.99', 'bin 130-139.99', 'bin 140-149.99', 'bin 150-159.99', 'bin 160-169.99', 'bin 170-179.99', 'bin 180-189.99', 'bin 190-199.99', 'bin 200-209.99', 'bin 210-219.99', 'bin 220-229.99', 'bin 230-239.99', 'bin 240-249.99', 'bin 250-259.99', 'bin 260-269.99', 'bin 270-279.99', 'bin 280-289.99', 'bin 290-299.99', 'bin 300-309.99', 'bin 310-319.99', 'bin 320-329.99', 'bin 330-339.99', 'bin 340-349.99', 'bin 350-359.99', 'bin 360-369.99', 'bin 370-379.99', 'bin 380-389.99', 'bin 390-399.99', 'bin 400-409.99', 'bin 410-419.99', 'bin 420-429.99', 'bin 430-439.99', 'bin 440-449.99', 'bin 450-459.99', 'bin 460-469.99', 'bin 470-479.99', 'bin 480-489.99', 'bin 490-499.99', 'bin 500-509.99', 'bin 510-519.99', 'bin 520-529.99', 'bin 530-539.99', 'bin 540-549.99', 'bin 550-559.99', 'bin 560-569.99', 'bin 570-579.99', 'bin 580-589.99', 'bin 590-599.99', 'bin 600-609.99', 'bin 610-619.99', 'bin 620-629.99', 'bin 630-639.99', 'bin 640-649.99', 'bin 650-659.99', 'bin 660-669.99', 'bin 670-679.99', 'bin 680-689.99', 'bin 690-699.99', 'bin 700-709.99', 'bin 710-719.99', 'bin 720-729.99', 'bin 730-739.99', 'bin 740-749.99', 'bin 750-759.99', 'bin 760-769.99', 'bin 770-779.99', 'bin 780-789.99', 'bin 790-799.99']
81 80

In [95]:
#cut the bins and group names to the dataframe

data_df["price_bins"] = pd.cut(data_df["price"], bins, labels=group_names)
data_df.head()

,zipcode,room_type,accommodates,bedrooms,bathrooms,beds,minimum_nights,number_of_reviews,price,price_bins
0,94117,Entire home/apt,3,1.0,1.0,2.0,1,240,170.0,bin 170-179.99
1,94110,Entire home/apt,5,2.0,1.0,3.0,30,111,235.0,bin 230-239.99
2,94117,Private room,2,1.0,4.0,1.0,32,19,65.0,bin 60-69.99
3,94117,Private room,2,1.0,4.0,1.0,32,8,65.0,bin 60-69.99
4,94117,Entire home/apt,4,2.0,1.5,2.0,5,28,703.0,bin 700-709.99

In [47]:
#Loading CSV files
data = "Resources/listings.csv"

In [ ]:
#CSV to DataFrame
data_df = pd.read_csv(data, low_memory=False)
data_df.head()

In [ ]:
#data_df.columns.tolist()

## Correlation Matrix

In [ ]:
corrMatrix = data_df.corr()
print (corrMatrix)
sn.heatmap(corrMatrix, annot=True)
plt.tight_layout()
plt.autoscale()

plt.savefig('correlation_matrix.png', bbox_inches='tight', pad_inches=0.0)
plt.show()

## Create Training Set

In [ ]:
# columns to keep
columns_to_keep = ["zipcode", "room_type", "accommodates", "bedrooms", "bathrooms", "beds", "minimum_nights", "number_of_reviews", "price"]
data_train = data_df[columns_to_keep]
data_train.head()

# make a copy to avoid warning error
data_df = data_train.copy()



# convert price strings into float
# https://stackoverflow.com/questions/32464280/converting-currency-with-to-numbers-in-python-pandas
data_df["price"] = data_df["price"].replace('[\$,]', '', regex=True).astype(float)

#some zipcodes start with CA.  replace "CA " with "" and convert to integers
#https://stackoverflow.com/questions/13682044/remove-unwanted-parts-from-strings-in-a-column
data_df["zipcode"] = data_df["zipcode"].replace(regex=True, to_replace="CA ", value="").astype(int)


#drop all nans
data_df = data_df.dropna()


#data_df.dtypes
data_df.head()

In [ ]:
# Assign X (data/features) and y (target)

target = data_df["price"]
data = data_df.drop("price", axis = 1)
feature_names = data.columns
data.head()
print(target.shape, data.shape)

In [ ]:
# Assign X (data/features) and y (target)

y = data_df["price"].values.reshape(-1,1)
X = data_df.drop("price", axis = 1)
feature_names = X.columns
X.head()
print(y.shape, X.shape)

In [ ]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler 
from sklearn.preprocessing import OneHotEncoder
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
#Practice dropping columns - ASK JUSTIN!!!!

del data_df['listing_url']
#data_df.drop(['scrape_id', 'summary', 'last_scraped'], axis=1, inplace=True)
data_df = data_df.drop(['scrape_id',  'summary', 'last_scraped'], axis=1)  #why doesn't this work?

#data_df.drop("space", axis=1) #why doesn't this work?

#del data_df[['scrape_id', 'name']]
#data_df.drop(columns=['scrape_id', 'name'], axis = 1)
#data_df.drop(['scrape_id', 'name'], axis=1)

data_df.columns.tolist()

In [ ]:
#Selecting colums for a new data frame
mapping_select = ["id", "name", "neighbourhood_cleansed","latitude","longitude","room_type","minimum_maximum_nights","license"]
#Making a copy of the new data set
mapping_data= data_df[mapping_select].copy()
mapping_data

In [ ]:
#Checking data types of each column
mapping_data.dtypes

In [ ]:
#my version
mapping_data["room_type"].value_counts()

#Pulling and counting unique values in room_type column
#yulia's version
#mapping_data.room_type.value_counts()

In [ ]:
#Dropping dublicates in ID column
mapping_data.drop_duplicates("id", inplace=True)
#Dropping rows with "Hotel room" value in room_type, because we want to analyze privetly owned properties managed by a host
mapping_df = mapping_data[mapping_data.room_type != 'Hotel room']
mapping_df

In [ ]:
#Dropping dublicates in ID column
mapping_data.drop_duplicates("id", inplace=True)

# filter with .loc and conditional.  Learned this in class.  This works, but I find it very verbose
mapping_data = mapping_data.loc[(mapping_data["room_type"] == "Entire home/apt") | 
                            (mapping_data["room_type"] == "Private room") | 
                            (mapping_data["room_type"] == "Shared room"),
                            :]

# This works too.  I like this version better, but Juli's original version of selecting everything not hotel better!
# mapping_df = mapping_df[(mapping_df.room_type == "Entire home/apt") | 
#                             (mapping_df.room_type == "Private room") | 
#                             (mapping_df.room_type == "Shared room")]


mapping_data.head(10)
#mapping_data.shape #(8472, 8)mapping_data


# Yulia's version
#Dropping rows with "Hotel room" value in room_type, because we want to analyze privetly owned properties managed by a host
# mapping_df = mapping_data[mapping_data.room_type != 'Hotel room']
# mapping_df

In [ ]:
#Dropping rows with "License not needed per OSTR" value in license
mapping_df_2 = mapping_df[mapping_df.license != 'License not needed per OSTR']
mapping_df_2

In [ ]:
mapping_df_2 = mapping_df_2[mapping_df_2.license != 'Licensed Hotel/B&B']
mapping_df_2

In [ ]:
#Converting all lowercase characters in "license" column into uppercase characters for checking values to 
#determine legal/illigal status
mapping_df_2['license'].str.upper()
mapping_df_2

In [ ]:
#Filtering data set by  "Entire home/apt" value in "room_type" column
# mapping_new = mapping_df_2.loc[mapping_df_2['room_type'] == "Entire home/apt"]
# mapping_new

#This is my version inspired my yulia's examples
mapping_new = mapping_df_2[(mapping_df_2.room_type == "Entire home/apt")]
mapping_new

In [ ]:
#Adding "illigal" column to fill in after checking "for-loop" condotions in each row of the data
mapping_new['illegal'] = ''
mapping_new

In [ ]:
# #for i in mapping_new.index:
# for i in range(len(mapping_new)) : 
#     licence =  mapping_new.iloc[i,7] #assign licence string into a variable
#     print(licence)
#     print(mapping_new.iloc[i,6])
#     if isinstance(licence, float) == False:
#         if (mapping_new.iloc[i,6] < 90) or (mapping_new.iloc[i,6] > 90 and licence.startswith('STR')) :
#             mapping_new.iloc[i,8]= 'legal'
#             #add 'legal' to the legal column
#         else:
#             mapping_new.iloc[i,8]= 'illegal'
#             #add 'illegal' to the legal column
#     elif mapping_new.iloc[i,6] > 90:
#         mapping_new.iloc[i,8]= 'illegal'
#     else: 
#         mapping_new.iloc[i,8]= 'legal'


#correcting for legal logic
for i in range(len(mapping_new)) : 
    licence =  mapping_new.iloc[i,7] #assign licence string into a variable
    print(licence)
    print(mapping_new.iloc[i,6])
    if isinstance(licence, float) == False:
        if (mapping_new.iloc[i,6] <= 90 and licence.startswith('STR')) :
            mapping_new.iloc[i,8]= 'legal'
            #add 'legal' to the legal column
        else:
            mapping_new.iloc[i,8]= 'illegal'
            #add 'illegal' to the legal column
    else: 
        mapping_new.iloc[i,8]= 'illegal'
        
        
#another version of above code using .loc instead of .iloc.  This doesn't work                
# for i in range(len(mapping_new)) : 
#     licence_temp =  mapping_new.loc[i,'license'] #assign licence string into a variable
#     print(licence_temp)
#     print(mapping_new.loc[i,'minimum_maximum_nights'])
#     if isinstance(licence_temp, float) == False:
#         if (mapping_new.loc[i,'minimum_maximum_nights'] <= 90 and licence_temp.startswith('STR')) :
#             mapping_new.loc[i,'illegal']= 'legal'
#             #add 'legal' to the legal column
#         else:
#             mapping_new.loc[i,'illegal']= 'illegal'
#             #add 'illegal' to the legal column
#     else: 
#         mapping_new.loc[i,'illegal']= 'illegal'

In [ ]:
mapping_new

In [ ]:
#Creating output csv file 
mapping_new.to_csv("Output/mapping_data.csv", index = False)

In [ ]:
#Saving priviously created data frame to new variable 
roomtype_df = mapping_df_2
roomtype_df

## ASK JUSTIN - how to remov index and do I need to do pd.DataFrame after a groupby?

In [ ]:
#Making a copy of a data set
room_type_df= mapping_df_2.copy()

#same results as Yulia
roomtype_mel = room_type_df.groupby("room_type").count().reset_index()
#roomtype_mel_df = pd.DataFrame(roomtype_mel)
roomtype_mel

#after gb, no longer condisdered a df object (becomes*GB series object), that's why you need to do a pd.DataFrame do gain pandas functions again.

## Ask justin if I really need to Do pd.DataFrame after groupby

In [ ]:
roomtype_mel = roomtype_mel[["room_type","id"]]
roomtype_mel_df = pd.DataFrame(roomtype_mel)   ###Ask justin if I really need to Do Data frame
roomtype_mel_df

#Yulia's original code
#Grouping data by "room_type" and counting values
# roomtype_new = room_type_df.groupby('room_type')['id'].count()
# roomtype_new

In [ ]:
#Another way to do room type with value counts on the room_type column
roomtype_df
roomtype_value_count = roomtype_df["room_type"].value_counts()
roomtype_value_count

In [ ]:
#my code for legal
legal_df= mapping_new.copy()
legal_df

legal_grouped_df = legal_df.groupby("illegal").count().reset_index()
legal_grouped_df = legal_grouped_df[["illegal", "id"]]
legal_grouped_df.columns =["illegal", "count"]
legal_grouped_df

In [ ]:
#another way to to legal/illegal count with value counts on illegal column
legal_df
legal_value_counts = legal_df["illegal"].value_counts()
legal_value_counts = pd.DataFrame(legal_value_counts)
legal_value_counts

In [ ]:
#Yulia's Original code
#Making a copy of a data set
legal_df= mapping_new.copy()
#Grouping data by legal/illigal status and counting values
legal_df = legal_df.groupby('illegal')['id'].count()
legal_df

## Groupby roomcount

In [ ]:
neighborhood_df= mapping_df.copy()
legal_df= mapping_new.copy()
legal_df

In [ ]:
neighborhood_grouped_df = neighborhood_df.groupby(["neighbourhood_cleansed", "room_type"]).count().reset_index()
#neighborhood_grouped_df = neighborhood_df.groupby(["neighbourhood_cleansed", "room_type"]).count().reset_index(drop=True, inplace=True)
neighborhood_grouped_x = neighborhood_grouped_df[['neighbourhood_cleansed', 'room_type', 'id']]
neighborhood_grouped_x

## How do i get rid of weird headings - ask justin

In [ ]:
#Using pivot function to restructure Data Frame
table = pd.pivot_table(neighborhood_grouped_x, values='id',
                    columns="room_type", index= "neighbourhood_cleansed")
#table = table.reset_index()

table = table.rename_axis(None, axis = 1)
table = table.rename_axis(None, axis = 0)
#table.set_index(['neighbourhood_cleansed'])
#table = pd.DataFrame(table)
table

In [ ]:
table.to_csv("Output/grouped_neighborhoods.csv")

## What happens if I group jst by neighborhood and roomtypes?

In [ ]:
neighborhood_df
neighborhood_test = neighborhood_df[["neighbourhood_cleansed", "room_type"]]
neighborhood_test

## Ask Justin why this doesnt work

In [ ]:
neighborhood_grouped_test = neighborhood_df.groupby(["neighbourhood_cleansed", "room_type"]).count()
#neighborhood_grouped_test = neighborhood_df.groupby(["neighbourhood_cleansed", "room_type"]).value_counts()  vc usually run on an entire df without a groupby, or on a series
neighborhood_grouped_test
#neighborhood_grouped_df = neighborhood_df.groupby(["neighbourhood_cleansed", "room_type"]).count().reset_index(drop=True, inplace=True)
#neighborhood_grouped_x = neighborhood_grouped_df[['neighbourhood_cleansed', 'room_type', 'id']]
#neighborhood_grouped_x