In [5]:
#Import Dependencies
import pandas as pd
import numpy as np

import seaborn as sn
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder, MinMaxScaler 
from sklearn.preprocessing import OneHotEncoder
from tensorflow.keras.utils import to_categorical
import tensorflow
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping

In [6]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (from sklearn) (0.21.3)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (0.14.0)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.17.3)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.3.1)

In [7]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (0.14.0)

In [9]:
file = "data_cleaning/Output/cleaned_data_bin_50.csv"
df = pd.read_csv(file)
df.head()

,zipcode,room_type,accommodates,bedrooms,bathrooms,beds,minimum_nights,number_of_reviews,price,price_bin
0,94117,Entire home/apt,3,1.0,1.0,2.0,1,240,170.0,bin 150-200
1,94110,Entire home/apt,5,2.0,1.0,3.0,30,111,235.0,bin 200-250
2,94117,Private room,2,1.0,4.0,1.0,32,19,65.0,bin 50-100
3,94117,Private room,2,1.0,4.0,1.0,32,8,65.0,bin 50-100
4,94110,Private room,3,1.0,1.0,1.0,1,736,139.0,bin 100-150

## ------------------------------- Deep Learning --------------------------------------

## Create features (X) and target (y)

In [13]:
#this is your X
data = df.drop(["price", "price_bin"], axis=1)
feature_names = data.columns
data.head()

,zipcode,room_type,accommodates,bedrooms,bathrooms,beds,minimum_nights,number_of_reviews
0,94117,Entire home/apt,3,1.0,1.0,2.0,1,240
1,94110,Entire home/apt,5,2.0,1.0,3.0,30,111
2,94117,Private room,2,1.0,4.0,1.0,32,19
3,94117,Private room,2,1.0,4.0,1.0,32,8
4,94110,Private room,3,1.0,1.0,1.0,1,736

In [14]:
#this is your y.  Convert to strings, even though it's already an array of strings, otherwise model will choke.
target = df["price_bin"].map(lambda x:str(x))

df.groupby("price_bin").count().index
print(target.unique())

['bin 150-200' 'bin 200-250' 'bin 50-100' 'bin 100-150' 'bin 400-450'
 'bin 450-500' 'bin 250-300' 'bin 300-350' 'bin 0-50' 'bin 350-400' 'nan']

## LabelEncode features (X) - room_type and zipcode

In [15]:
#code for multi-column label encoder from stack overlow:
#https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [16]:
#LabelEncode room_type and zipcode.  No need to one-hot encode

data2=MultiColumnLabelEncoder(columns = ['room_type', 'zipcode']).fit_transform(data)
data2.head()

,zipcode,room_type,accommodates,bedrooms,bathrooms,beds,minimum_nights,number_of_reviews
0,14,0,3,1.0,1.0,2.0,1,240
1,8,0,5,2.0,1.0,3.0,30,111
2,14,1,2,1.0,4.0,1.0,32,19
3,14,1,2,1.0,4.0,1.0,32,8
4,8,1,3,1.0,1.0,1.0,1,736

In [17]:
data2.groupby(['room_type', 'zipcode' ]).count()

                   accommodates  bedrooms  bathrooms  beds  minimum_nights  \
room_type zipcode
0         0                  15        15         15    15              15
          1                 224       224        224   224             224
          2                 288       288        288   288             288
          3                   5         5          5     5               5
          4                 131       131        131   131             131
...                         ...       ...        ...   ...             ...
2         17                  5         5          5     5               5
          19                  2         2          2     2               2
          23                  1         1          1     1               1
          24                 38        38         38    38              38
          26                  4         4          4     4               4

                   number_of_reviews
room_type zipcode
0         0                       15
          1                      224
          2                      288
          3                        5
          4                      131
...                              ...
2         17                       5
          19                       2
          23                       1
          24                      38
          26                       4

[73 rows x 6 columns]

##  Create Train Test Split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(data2, target, random_state=4, test_size = .2)

## Encode y labels (label encoder and one hot encode)

In [19]:
#choose label encoder or one hot encode
#bins are already labels
2
#try each by themselves

label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

len(y_test_categorical[0])
y_test_categorical[0]
len(y_train_categorical[0])

11

## Scale the features/data (X)

In [20]:
X_minmax = MinMaxScaler().fit(X_train)

X_train_scaled = X_minmax.transform(X_train)
X_test_scaled= X_minmax.transform(X_test)

X_train_scaled[0]

array([1.92307692e-01, 5.00000000e-01, 0.00000000e+00, 7.14285714e-02,
       1.07142857e-01, 7.14285714e-02, 3.00000003e-08, 5.72472594e-02])

## Train the Model (Deep Learning)

In [21]:
#get number of feature columns.  This will be the input dimension for the model.
print(f"number of features columns in X: {X_train_scaled.shape[1]}")

#get the number of target columns for the output layer.  This should be 10 as we have 10 price bins
print(f"number of target columns in y: {y_train_categorical.shape[1]}")

number of features columns in X: 8
number of target columns in y: 11

In [22]:
#create the deep learning model
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Create an empty sequential model
model = Sequential()

# Add the first layer where the input dimensions are the 8 columns of the training data, X_train_scaled.shape[1]
#dense is nodes, 

#input layer
model.add(Dense(200, activation='relu', input_dim=X_train_scaled.shape[1]))

# Add a second hidden layer
model.add(Dense(200, activation='relu'))

# Add a third hidden layer
model.add(Dense(200, activation='relu'))

# Add output layer.  There are 10 columns in y_train_categorical.shape[1], same as the number of price bins
model.add(Dense(y_train_categorical.shape[1], activation="softmax"))

In [23]:
# Compile the model using categorical_crossentropy for the loss function, the adam optimizer,
# and add accuracy to the training metrics
model.compile(loss="categorical_crossentropy",
              optimizer="adam", metrics=['accuracy'])

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 200)               1800
_________________________________________________________________
dense_1 (Dense)              (None, 200)               40200
_________________________________________________________________
dense_2 (Dense)              (None, 200)               40200
_________________________________________________________________
dense_3 (Dense)              (None, 11)                2211
=================================================================
Total params: 84,411
Trainable params: 84,411
Non-trainable params: 0
_________________________________________________________________

In [25]:
 # Use the training data to fit (train) the model
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 6004 samples
Epoch 1/100
6004/6004 - 2s - loss: 1.7358 - accuracy: 0.3483
Epoch 2/100
6004/6004 - 1s - loss: 1.5635 - accuracy: 0.3937
Epoch 3/100
6004/6004 - 0s - loss: 1.5417 - accuracy: 0.3984
Epoch 4/100
6004/6004 - 0s - loss: 1.5250 - accuracy: 0.4022
Epoch 5/100
6004/6004 - 1s - loss: 1.5177 - accuracy: 0.4056
Epoch 6/100
6004/6004 - 0s - loss: 1.5109 - accuracy: 0.4064
Epoch 7/100
6004/6004 - 1s - loss: 1.5024 - accuracy: 0.4076
Epoch 8/100
6004/6004 - 0s - loss: 1.4992 - accuracy: 0.4099
Epoch 9/100
6004/6004 - 0s - loss: 1.4935 - accuracy: 0.4151
Epoch 10/100
6004/6004 - 1s - loss: 1.4866 - accuracy: 0.4107
Epoch 11/100
6004/6004 - 1s - loss: 1.4884 - accuracy: 0.4181
Epoch 12/100
6004/6004 - 0s - loss: 1.4782 - accuracy: 0.4207
Epoch 13/100
6004/6004 - 1s - loss: 1.4718 - accuracy: 0.4216
Epoch 14/100
6004/6004 - 0s - loss: 1.4695 - accuracy: 0.4224
Epoch 15/100
6004/6004 - 0s - loss: 1.4632 - accuracy: 0.4216
Epoch 16/100
6004/6004 - 0s - loss: 1.4619 - accuracy: 0.4279
Epoch 17/100
6004/6004 - 0s - loss: 1.4591 - accuracy: 0.4280
Epoch 18/100
6004/6004 - 1s - loss: 1.4593 - accuracy: 0.4269
Epoch 19/100
6004/6004 - 0s - loss: 1.4551 - accuracy: 0.4277
Epoch 20/100
6004/6004 - 0s - loss: 1.4460 - accuracy: 0.4300
Epoch 21/100
6004/6004 - 0s - loss: 1.4442 - accuracy: 0.4275
Epoch 22/100
6004/6004 - 1s - loss: 1.4450 - accuracy: 0.4319
Epoch 23/100
6004/6004 - 1s - loss: 1.4353 - accuracy: 0.4357
Epoch 24/100
6004/6004 - 1s - loss: 1.4349 - accuracy: 0.4357
Epoch 25/100
6004/6004 - 1s - loss: 1.4286 - accuracy: 0.4322
Epoch 26/100
6004/6004 - 1s - loss: 1.4297 - accuracy: 0.4359
Epoch 27/100
6004/6004 - 0s - loss: 1.4239 - accuracy: 0.4437
Epoch 28/100
6004/6004 - 0s - loss: 1.4216 - accuracy: 0.4392
Epoch 29/100
6004/6004 - 1s - loss: 1.4202 - accuracy: 0.4389
Epoch 30/100
6004/6004 - 0s - loss: 1.4128 - accuracy: 0.4422
Epoch 31/100
6004/6004 - 1s - loss: 1.4087 - accuracy: 0.4455
Epoch 32/100
6004/6004 - 0s - loss: 1.4098 - accuracy: 0.4492
Epoch 33/100
6004/6004 - 0s - loss: 1.4024 - accuracy: 0.4444
Epoch 34/100
6004/6004 - 0s - loss: 1.3988 - accuracy: 0.4477
Epoch 35/100
6004/6004 - 1s - loss: 1.3961 - accuracy: 0.4492
Epoch 36/100
6004/6004 - 0s - loss: 1.3943 - accuracy: 0.4499
Epoch 37/100
6004/6004 - 1s - loss: 1.3912 - accuracy: 0.4512
Epoch 38/100
6004/6004 - 0s - loss: 1.3868 - accuracy: 0.4534
Epoch 39/100
6004/6004 - 0s - loss: 1.3877 - accuracy: 0.4552
Epoch 40/100
6004/6004 - 0s - loss: 1.3802 - accuracy: 0.4574
Epoch 41/100
6004/6004 - 0s - loss: 1.3800 - accuracy: 0.4609
Epoch 42/100
6004/6004 - 0s - loss: 1.3756 - accuracy: 0.4525
Epoch 43/100
6004/6004 - 0s - loss: 1.3718 - accuracy: 0.4597
Epoch 44/100
6004/6004 - 1s - loss: 1.3724 - accuracy: 0.4589
Epoch 45/100
6004/6004 - 1s - loss: 1.3627 - accuracy: 0.4644
Epoch 46/100
6004/6004 - 0s - loss: 1.3622 - accuracy: 0.4665
Epoch 47/100
6004/6004 - 1s - loss: 1.3570 - accuracy: 0.4617
Epoch 48/100
6004/6004 - 1s - loss: 1.3563 - accuracy: 0.4644
Epoch 49/100
6004/6004 - 1s - loss: 1.3576 - accuracy: 0.4634
Epoch 50/100
6004/6004 - 0s - loss: 1.3512 - accuracy: 0.4632
Epoch 51/100
6004/6004 - 1s - loss: 1.3476 - accuracy: 0.4712
Epoch 52/100
6004/6004 - 0s - loss: 1.3491 - accuracy: 0.4675
Epoch 53/100
6004/6004 - 0s - loss: 1.3405 - accuracy: 0.4734
Epoch 54/100
6004/6004 - 1s - loss: 1.3377 - accuracy: 0.4655
Epoch 55/100
6004/6004 - 1s - loss: 1.3288 - accuracy: 0.4757
Epoch 56/100
6004/6004 - 0s - loss: 1.3286 - accuracy: 0.4749
Epoch 57/100
6004/6004 - 1s - loss: 1.3267 - accuracy: 0.4795
Epoch 58/100
6004/6004 - 0s - loss: 1.3224 - accuracy: 0.4763
Epoch 59/100
6004/6004 - 0s - loss: 1.3201 - accuracy: 0.4820
Epoch 60/100
6004/6004 - 0s - loss: 1.3195 - accuracy: 0.4813
Epoch 61/100
6004/6004 - 1s - loss: 1.3124 - accuracy: 0.4853
Epoch 62/100
6004/6004 - 0s - loss: 1.3107 - accuracy: 0.4818
Epoch 63/100
6004/6004 - 0s - loss: 1.3071 - accuracy: 0.4838
Epoch 64/100
6004/6004 - 0s - loss: 1.3094 - accuracy: 0.4848
Epoch 65/100
6004/6004 - 1s - loss: 1.3030 - accuracy: 0.4837
Epoch 66/100
6004/6004 - 0s - loss: 1.3037 - accuracy: 0.4843
Epoch 67/100
6004/6004 - 1s - loss: 1.2979 - accuracy: 0.4845
Epoch 68/100
6004/6004 - 0s - loss: 1.2882 - accuracy: 0.4937
Epoch 69/100
6004/6004 - 1s - loss: 1.2871 - accuracy: 0.4882
Epoch 70/100
6004/6004 - 0s - loss: 1.2880 - accuracy: 0.4890
Epoch 71/100
6004/6004 - 0s - loss: 1.2828 - accuracy: 0.4937
Epoch 72/100
6004/6004 - 0s - loss: 1.2803 - accuracy: 0.4932
Epoch 73/100
6004/6004 - 0s - loss: 1.2735 - accuracy: 0.5000
Epoch 74/100
6004/6004 - 0s - loss: 1.2751 - accuracy: 0.4992
Epoch 75/100
6004/6004 - 0s - loss: 1.2683 - accuracy: 0.4982
Epoch 76/100
6004/6004 - 0s - loss: 1.2640 - accuracy: 0.5063
Epoch 77/100
6004/6004 - 0s - loss: 1.2637 - accuracy: 0.4973
Epoch 78/100
6004/6004 - 0s - loss: 1.2621 - accuracy: 0.4975
Epoch 79/100
6004/6004 - 1s - loss: 1.2555 - accuracy: 0.5025
Epoch 80/100
6004/6004 - 1s - loss: 1.2556 - accuracy: 0.5023
Epoch 81/100
6004/6004 - 1s - loss: 1.2507 - accuracy: 0.5087
Epoch 82/100
6004/6004 - 1s - loss: 1.2476 - accuracy: 0.5070
Epoch 83/100
6004/6004 - 1s - loss: 1.2434 - accuracy: 0.5108
Epoch 84/100
6004/6004 - 1s - loss: 1.2417 - accuracy: 0.5115
Epoch 85/100
6004/6004 - 0s - loss: 1.2389 - accuracy: 0.5067
Epoch 86/100
6004/6004 - 1s - loss: 1.2354 - accuracy: 0.5065
Epoch 87/100
6004/6004 - 0s - loss: 1.2344 - accuracy: 0.5105
Epoch 88/100
6004/6004 - 0s - loss: 1.2235 - accuracy: 0.5223
Epoch 89/100
6004/6004 - 1s - loss: 1.2311 - accuracy: 0.5095
Epoch 90/100
6004/6004 - 1s - loss: 1.2254 - accuracy: 0.5172
Epoch 91/100
6004/6004 - 0s - loss: 1.2172 - accuracy: 0.5192
Epoch 92/100
6004/6004 - 0s - loss: 1.2147 - accuracy: 0.5218
Epoch 93/100
6004/6004 - 0s - loss: 1.2118 - accuracy: 0.5217
Epoch 94/100
6004/6004 - 1s - loss: 1.2137 - accuracy: 0.5180
Epoch 95/100
6004/6004 - 0s - loss: 1.2066 - accuracy: 0.5198
Epoch 96/100
6004/6004 - 1s - loss: 1.2033 - accuracy: 0.5238
Epoch 97/100
6004/6004 - 0s - loss: 1.1997 - accuracy: 0.5286
Epoch 98/100
6004/6004 - 0s - loss: 1.1970 - accuracy: 0.5255
Epoch 99/100
6004/6004 - 0s - loss: 1.1930 - accuracy: 0.5245
Epoch 100/100
6004/6004 - 0s - loss: 1.1902 - accuracy: 0.5290

## Evaluate the model

In [ ]:
#double check the array size of all train and test splits to make rows and columns line up
print(f"X_train_scaled.shape {X_train_scaled.shape}")
print(f"X_test_scaled.shape {X_test_scaled.shape}")
print(f"y_train_categorical.shape {y_train_categorical.shape}")
print(f"y_test_categorical.shape {y_test_categorical.shape}")

In [ ]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

## Score the model

In [ ]:
print(f"Deep Learning Training Data Score r2: {model.score(X_train_scaled, y_train_categorical)}")
print(f"Deep Learning, Neural network Testing Data Score r2: {model.score(X_test_scaled, y_test_categorical)}")

## Hyperparameter Tuning

Use GridSearchCV to tune the model's parameters

In [ ]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
param_grid = {'n_estimators': [250, 300, 350],
              'max_depth': [125, 150, 175]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [ ]:
# Train the model with GridSearch
grid.fit(X_train_scaled, y_train_categorical)

In [ ]:
print(grid.best_params_)
print(grid.best_score_)

In [ ]:
# Training score:
grid.score(X_train_scaled, y_train_categorical)

In [ ]:
# Testing score:
grid.score(X_test_scaled, y_test_categorical)

In [ ]:
# Make prediction and save to variable for report.
predictions = grid.predict(X_test_scaled)

In [ ]:
# Print Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test_categorical, predictions))

In [ ]:
#????????????????????  WHAT IS THIS?
%matplotlib notebook
from yellowbrick.classifier import ClassificationReport
viz = ClassificationReport(RandomForestClassifier())
viz.fit(X_train_scaled, y_train)
viz.score(X_test_scaled, y_test)
viz.finalize()
viz.show(outpath="classificationreport.png")

## Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'models.sav'
joblib.dump(model, filename)

### Correlation Matrix

In [ ]:
corrMatrix = df.corr()
print (corrMatrix)
sn.heatmap(corrMatrix, annot=True)
plt.tight_layout()
plt.autoscale()

plt.savefig('correlation_matrix.png', bbox_inches='tight', pad_inches=0.0)
plt.show()