In [3]:
#Import Dependencies
import pandas as pd
import numpy as np
import tensorflow

import seaborn as sn
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import LabelEncoder, MinMaxScaler 
from sklearn.preprocessing import OneHotEncoder
from tensorflow.keras.utils import to_categorical
import tensorflow as tf
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping

In [4]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (from sklearn) (0.21.3)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.3.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (1.17.3)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn->sklearn) (0.14.0)

In [5]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\melis\anaconda3\envs\pythondata\lib\site-packages (0.14.0)

In [7]:
#This is the code used to create bins for price bins in the cleaning notebook.  It's just here for reference.
bins = [0]
group_names = []

for i in range (0,80):
    x = round((i*10 + 9.99),3)
    bins.append(x)
    name = "bin " + str(i*10) + "-" + str(x)
    group_names.append(name)
    
print(group_names)

['bin 0-9.99', 'bin 10-19.99', 'bin 20-29.99', 'bin 30-39.99', 'bin 40-49.99', 'bin 50-59.99', 'bin 60-69.99', 'bin 70-79.99', 'bin 80-89.99', 'bin 90-99.99', 'bin 100-109.99', 'bin 110-119.99', 'bin 120-129.99', 'bin 130-139.99', 'bin 140-149.99', 'bin 150-159.99', 'bin 160-169.99', 'bin 170-179.99', 'bin 180-189.99', 'bin 190-199.99', 'bin 200-209.99', 'bin 210-219.99', 'bin 220-229.99', 'bin 230-239.99', 'bin 240-249.99', 'bin 250-259.99', 'bin 260-269.99', 'bin 270-279.99', 'bin 280-289.99', 'bin 290-299.99', 'bin 300-309.99', 'bin 310-319.99', 'bin 320-329.99', 'bin 330-339.99', 'bin 340-349.99', 'bin 350-359.99', 'bin 360-369.99', 'bin 370-379.99', 'bin 380-389.99', 'bin 390-399.99', 'bin 400-409.99', 'bin 410-419.99', 'bin 420-429.99', 'bin 430-439.99', 'bin 440-449.99', 'bin 450-459.99', 'bin 460-469.99', 'bin 470-479.99', 'bin 480-489.99', 'bin 490-499.99', 'bin 500-509.99', 'bin 510-519.99', 'bin 520-529.99', 'bin 530-539.99', 'bin 540-549.99', 'bin 550-559.99', 'bin 560-569.99', 'bin 570-579.99', 'bin 580-589.99', 'bin 590-599.99', 'bin 600-609.99', 'bin 610-619.99', 'bin 620-629.99', 'bin 630-639.99', 'bin 640-649.99', 'bin 650-659.99', 'bin 660-669.99', 'bin 670-679.99', 'bin 680-689.99', 'bin 690-699.99', 'bin 700-709.99', 'bin 710-719.99', 'bin 720-729.99', 'bin 730-739.99', 'bin 740-749.99', 'bin 750-759.99', 'bin 760-769.99', 'bin 770-779.99', 'bin 780-789.99', 'bin 790-799.99']

In [8]:
file = "data_cleaning/Output/cleaned_data.csv"
df = pd.read_csv(file)
df.head()

,zipcode,room_type,accommodates,bedrooms,bathrooms,beds,minimum_nights,number_of_reviews,price,price_bin
0,94117,Entire home/apt,3,1.0,1.0,2.0,1,240,170.0,bin 170-179.99
1,94110,Entire home/apt,5,2.0,1.0,3.0,30,111,235.0,bin 230-239.99
2,94117,Private room,2,1.0,4.0,1.0,32,19,65.0,bin 60-69.99
3,94117,Private room,2,1.0,4.0,1.0,32,8,65.0,bin 60-69.99
4,94117,Entire home/apt,4,2.0,1.5,2.0,5,28,703.0,bin 700-709.99

## Create features (X) and target (y)

In [9]:
#this is your X
data = df.drop(["price", "price_bin"], axis=1)
feature_names = data.columns
data.head()

,zipcode,room_type,accommodates,bedrooms,bathrooms,beds,minimum_nights,number_of_reviews
0,94117,Entire home/apt,3,1.0,1.0,2.0,1,240
1,94110,Entire home/apt,5,2.0,1.0,3.0,30,111
2,94117,Private room,2,1.0,4.0,1.0,32,19
3,94117,Private room,2,1.0,4.0,1.0,32,8
4,94117,Entire home/apt,4,2.0,1.5,2.0,5,28

In [10]:
#this is your y.  Convert to strings, even though it's already an array of strings, otherwise model will choke.
target = df["price_bin"].map(lambda x:str(x))

df.groupby("price_bin").count().index

Index(['bin 10-19.99', 'bin 100-109.99', 'bin 110-119.99', 'bin 120-129.99',
       'bin 130-139.99', 'bin 140-149.99', 'bin 150-159.99', 'bin 160-169.99',
       'bin 170-179.99', 'bin 180-189.99', 'bin 190-199.99', 'bin 20-29.99',
       'bin 200-209.99', 'bin 210-219.99', 'bin 220-229.99', 'bin 230-239.99',
       'bin 240-249.99', 'bin 250-259.99', 'bin 260-269.99', 'bin 270-279.99',
       'bin 280-289.99', 'bin 290-299.99', 'bin 30-39.99', 'bin 300-309.99',
       'bin 310-319.99', 'bin 320-329.99', 'bin 330-339.99', 'bin 340-349.99',
       'bin 350-359.99', 'bin 360-369.99', 'bin 370-379.99', 'bin 380-389.99',
       'bin 390-399.99', 'bin 40-49.99', 'bin 400-409.99', 'bin 410-419.99',
       'bin 420-429.99', 'bin 430-439.99', 'bin 440-449.99', 'bin 450-459.99',
       'bin 460-469.99', 'bin 470-479.99', 'bin 480-489.99', 'bin 490-499.99',
       'bin 50-59.99', 'bin 500-509.99', 'bin 510-519.99', 'bin 520-529.99',
       'bin 530-539.99', 'bin 540-549.99', 'bin 550-559.99', 'bin 560-569.99',
       'bin 570-579.99', 'bin 580-589.99', 'bin 590-599.99', 'bin 60-69.99',
       'bin 600-609.99', 'bin 610-619.99', 'bin 620-629.99', 'bin 630-639.99',
       'bin 640-649.99', 'bin 650-659.99', 'bin 660-669.99', 'bin 670-679.99',
       'bin 680-689.99', 'bin 690-699.99', 'bin 70-79.99', 'bin 700-709.99',
       'bin 710-719.99', 'bin 720-729.99', 'bin 740-749.99', 'bin 750-759.99',
       'bin 760-769.99', 'bin 770-779.99', 'bin 790-799.99', 'bin 80-89.99',
       'bin 90-99.99'],
      dtype='object', name='price_bin')

## LabelEncode features (X) - room_type and zipcode

In [11]:
#code for multi-column label encoder from stack overlow:
#https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

class MultiColumnLabelEncoder:
    def __init__(self,columns = None):
        self.columns = columns # array of column names to encode

    def fit(self,X,y=None):
        return self # not relevant here

    def transform(self,X):
        '''
        Transforms columns of X specified in self.columns using
        LabelEncoder(). If no columns specified, transforms all
        columns in X.
        '''
        output = X.copy()
        if self.columns is not None:
            for col in self.columns:
                output[col] = LabelEncoder().fit_transform(output[col])
        else:
            for colname,col in output.iteritems():
                output[colname] = LabelEncoder().fit_transform(col)
        return output

    def fit_transform(self,X,y=None):
        return self.fit(X,y).transform(X)

In [12]:
#LabelEncode room_type and zipcode.  No need to one-hot encode

data2=MultiColumnLabelEncoder(columns = ['room_type', 'zipcode']).fit_transform(data)
data2.head()

,zipcode,room_type,accommodates,bedrooms,bathrooms,beds,minimum_nights,number_of_reviews
0,14,0,3,1.0,1.0,2.0,1,240
1,8,0,5,2.0,1.0,3.0,30,111
2,14,1,2,1.0,4.0,1.0,32,19
3,14,1,2,1.0,4.0,1.0,32,8
4,14,0,4,2.0,1.5,2.0,5,28

In [13]:
data2.groupby(['room_type', 'zipcode' ]).count()

                   accommodates  bedrooms  bathrooms  beds  minimum_nights  \
room_type zipcode
0         0                  16        16         16    16              16
          1                 228       228        228   228             228
          2                 300       300        300   300             300
          3                   6         6          6     6               6
          4                 134       134        134   134             134
...                         ...       ...        ...   ...             ...
2         17                  5         5          5     5               5
          19                  2         2          2     2               2
          23                  1         1          1     1               1
          24                 39        39         39    39              39
          26                  4         4          4     4               4

                   number_of_reviews
room_type zipcode
0         0                       16
          1                      228
          2                      300
          3                        6
          4                      134
...                              ...
2         17                       5
          19                       2
          23                       1
          24                      39
          26                       4

[73 rows x 6 columns]

##  Create Train Test Split

In [15]:
from sklearn.model_selection import train_test_split

#had to use a smaller test size .1
#otherwise we have labels in the test split that are not in the train split, and the model chokes
X_train, X_test, y_train, y_test = train_test_split(data2, target, random_state=4, test_size = .1)

## Encode y labels (label encoder and one hot encode)

In [21]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

#77 columns in y_test and y_train
len(y_test_categorical[0])
y_test_categorical[0]
len(y_train_categorical[0])

78

## Scale the features/data (X)
Scale the data using the MinMaxScaler and perform some feature selection

In [22]:
X_minmax = MinMaxScaler().fit(X_train)

X_train_scaled = X_minmax.transform(X_train)
X_test_scaled= X_minmax.transform(X_test)

X_train_scaled

array([[2.69230769e-01, 0.00000000e+00, 1.33333333e-01, ...,
        1.42857143e-01, 2.00000002e-08, 0.00000000e+00],
       [4.23076923e-01, 0.00000000e+00, 1.33333333e-01, ...,
        1.42857143e-01, 1.00000001e-08, 2.07064555e-02],
       [3.84615385e-01, 5.00000000e-01, 6.66666667e-02, ...,
        7.14285714e-02, 1.00000001e-08, 6.09013398e-03],
       ...,
       [3.84615385e-02, 0.00000000e+00, 6.66666667e-02, ...,
        7.14285714e-02, 0.00000000e+00, 9.62241169e-02],
       [9.23076923e-01, 0.00000000e+00, 2.00000000e-01, ...,
        1.42857143e-01, 2.90000003e-07, 8.89159562e-02],
       [8.46153846e-01, 0.00000000e+00, 6.66666667e-02, ...,
        7.14285714e-02, 2.90000003e-07, 1.82704019e-02]])

## Train the Model (Deep Learning)

In [23]:
#get number of feature columns.  This will be the input dimension for the model.
X_train_scaled.shape
#X_train_scaled.shape[1]

(7007, 8)

In [24]:
y_train_categorical.shape

#y_train_categorical.shape[1]

(7007, 78)

In [25]:
#create the deep learning model

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Create an empty sequential model
model = Sequential()

# Add the first layer where the input dimensions are the 8 columns of the training data
#dense is units, but don't know of what
model.add(Dense(100, activation='relu', input_dim=X_train_scaled.shape[1]))

# Add a second hidden layer
model.add(Dense(100, activation='relu'))

# Add output layer.  There are 78 columns in y_train_categorical.shape[1]
model.add(Dense(78, activation="softmax"))

In [26]:
# Compile the model using categorical_crossentropy for the loss function, the adam optimizer,
# and add accuracy to the training metrics
model.compile(loss="categorical_crossentropy",
              optimizer="adam", metrics=['accuracy'])

In [27]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               900
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 78)                7878
=================================================================
Total params: 18,878
Trainable params: 18,878
Non-trainable params: 0
_________________________________________________________________

In [ ]:
 # Use the training data to fit (train) the model
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 7007 samples
Epoch 1/100
7007/7007 - 1s - loss: 3.6558 - accuracy: 0.0588
Epoch 2/100
7007/7007 - 1s - loss: 3.2687 - accuracy: 0.0945
Epoch 3/100
7007/7007 - 0s - loss: 3.1983 - accuracy: 0.0983
Epoch 4/100
7007/7007 - 0s - loss: 3.1727 - accuracy: 0.1060
Epoch 5/100
7007/7007 - 1s - loss: 3.1555 - accuracy: 0.1089
Epoch 6/100
7007/7007 - 0s - loss: 3.1440 - accuracy: 0.1112
Epoch 7/100
7007/7007 - 0s - loss: 3.1284 - accuracy: 0.1180
Epoch 8/100
7007/7007 - 0s - loss: 3.1194 - accuracy: 0.1167
Epoch 9/100
7007/7007 - 0s - loss: 3.1093 - accuracy: 0.1193
Epoch 10/100
7007/7007 - 0s - loss: 3.1022 - accuracy: 0.1243
Epoch 11/100
7007/7007 - 0s - loss: 3.0955 - accuracy: 0.1199
Epoch 12/100
7007/7007 - 0s - loss: 3.0888 - accuracy: 0.1243
Epoch 13/100
7007/7007 - 0s - loss: 3.0818 - accuracy: 0.1277
Epoch 14/100
7007/7007 - 1s - loss: 3.0750 - accuracy: 0.1272
Epoch 15/100
7007/7007 - 1s - loss: 3.0702 - accuracy: 0.1274
Epoch 16/100
7007/7007 - 1s - loss: 3.0650 - accuracy: 0.1290
Epoch 17/100
7007/7007 - 0s - loss: 3.0591 - accuracy: 0.1274
Epoch 18/100
7007/7007 - 1s - loss: 3.0584 - accuracy: 0.1293
Epoch 19/100
7007/7007 - 0s - loss: 3.0499 - accuracy: 0.1337
Epoch 20/100
7007/7007 - 0s - loss: 3.0448 - accuracy: 0.1320
Epoch 21/100
7007/7007 - 0s - loss: 3.0415 - accuracy: 0.1347
Epoch 22/100
7007/7007 - 1s - loss: 3.0375 - accuracy: 0.1354
Epoch 23/100
7007/7007 - 1s - loss: 3.0316 - accuracy: 0.1376
Epoch 24/100
7007/7007 - 0s - loss: 3.0297 - accuracy: 0.1364
Epoch 25/100
7007/7007 - 0s - loss: 3.0246 - accuracy: 0.1413
Epoch 26/100
7007/7007 - 0s - loss: 3.0175 - accuracy: 0.1401
Epoch 27/100
7007/7007 - 0s - loss: 3.0153 - accuracy: 0.1393
Epoch 28/100
7007/7007 - 0s - loss: 3.0123 - accuracy: 0.1423
Epoch 29/100
7007/7007 - 0s - loss: 3.0075 - accuracy: 0.1436
Epoch 30/100
7007/7007 - 0s - loss: 3.0047 - accuracy: 0.1424
Epoch 31/100
7007/7007 - 0s - loss: 2.9999 - accuracy: 0.1414
Epoch 32/100
7007/7007 - 0s - loss: 2.9969 - accuracy: 0.1454
Epoch 33/100
7007/7007 - 0s - loss: 2.9923 - accuracy: 0.1444
Epoch 34/100
7007/7007 - 0s - loss: 2.9887 - accuracy: 0.1463
Epoch 35/100
7007/7007 - 0s - loss: 2.9832 - accuracy: 0.1427
Epoch 36/100
7007/7007 - 0s - loss: 2.9828 - accuracy: 0.1450
Epoch 37/100
7007/7007 - 0s - loss: 2.9782 - accuracy: 0.1490
Epoch 38/100
7007/7007 - 0s - loss: 2.9756 - accuracy: 0.1467
Epoch 39/100
7007/7007 - 0s - loss: 2.9725 - accuracy: 0.1494
Epoch 40/100
7007/7007 - 1s - loss: 2.9691 - accuracy: 0.1504
Epoch 41/100
7007/7007 - 0s - loss: 2.9639 - accuracy: 0.1493
Epoch 42/100
7007/7007 - 0s - loss: 2.9591 - accuracy: 0.1508
Epoch 43/100
7007/7007 - 0s - loss: 2.9569 - accuracy: 0.1520
Epoch 44/100
7007/7007 - 0s - loss: 2.9540 - accuracy: 0.1573
Epoch 45/100
7007/7007 - 0s - loss: 2.9506 - accuracy: 0.1554
Epoch 46/100
7007/7007 - 0s - loss: 2.9482 - accuracy: 0.1584
Epoch 47/100
7007/7007 - 0s - loss: 2.9444 - accuracy: 0.1563
Epoch 48/100
7007/7007 - 0s - loss: 2.9434 - accuracy: 0.1573
Epoch 49/100
7007/7007 - 0s - loss: 2.9360 - accuracy: 0.1577
Epoch 50/100
7007/7007 - 0s - loss: 2.9374 - accuracy: 0.1548
Epoch 51/100
7007/7007 - 0s - loss: 2.9321 - accuracy: 0.1594
Epoch 52/100
7007/7007 - 0s - loss: 2.9296 - accuracy: 0.1574
Epoch 53/100
7007/7007 - 0s - loss: 2.9259 - accuracy: 0.1613
Epoch 54/100
7007/7007 - 0s - loss: 2.9241 - accuracy: 0.1638
Epoch 55/100
7007/7007 - 0s - loss: 2.9222 - accuracy: 0.1620
Epoch 56/100
7007/7007 - 0s - loss: 2.9188 - accuracy: 0.1647
Epoch 57/100
7007/7007 - 0s - loss: 2.9152 - accuracy: 0.1643
Epoch 58/100
7007/7007 - 1s - loss: 2.9118 - accuracy: 0.1620
Epoch 59/100
7007/7007 - 1s - loss: 2.9102 - accuracy: 0.1688
Epoch 60/100
7007/7007 - 0s - loss: 2.9097 - accuracy: 0.1664
Epoch 61/100
7007/7007 - 0s - loss: 2.9046 - accuracy: 0.1650
Epoch 62/100
7007/7007 - 1s - loss: 2.9049 - accuracy: 0.1670
Epoch 63/100
7007/7007 - 0s - loss: 2.8989 - accuracy: 0.1677
Epoch 64/100
7007/7007 - 1s - loss: 2.8968 - accuracy: 0.1668
Epoch 65/100
7007/7007 - 0s - loss: 2.8932 - accuracy: 0.1665
Epoch 66/100
7007/7007 - 1s - loss: 2.8924 - accuracy: 0.1636
Epoch 67/100
7007/7007 - 1s - loss: 2.8889 - accuracy: 0.1683
Epoch 68/100
7007/7007 - 0s - loss: 2.8891 - accuracy: 0.1710
Epoch 69/100
7007/7007 - 1s - loss: 2.8846 - accuracy: 0.1688
Epoch 70/100
7007/7007 - 0s - loss: 2.8822 - accuracy: 0.1680
Epoch 71/100
7007/7007 - 0s - loss: 2.8804 - accuracy: 0.1667
Epoch 72/100
7007/7007 - 0s - loss: 2.8751 - accuracy: 0.1713
Epoch 73/100
7007/7007 - 0s - loss: 2.8735 - accuracy: 0.1745
Epoch 74/100
7007/7007 - 0s - loss: 2.8706 - accuracy: 0.1771
Epoch 75/100
7007/7007 - 0s - loss: 2.8690 - accuracy: 0.1685
Epoch 76/100
7007/7007 - 0s - loss: 2.8663 - accuracy: 0.1730
Epoch 77/100
7007/7007 - 0s - loss: 2.8647 - accuracy: 0.1705
Epoch 78/100
7007/7007 - 0s - loss: 2.8622 - accuracy: 0.1697
Epoch 79/100
7007/7007 - 0s - loss: 2.8598 - accuracy: 0.1761
Epoch 80/100
7007/7007 - 0s - loss: 2.8579 - accuracy: 0.1767
Epoch 81/100
7007/7007 - 0s - loss: 2.8537 - accuracy: 0.1741
Epoch 82/100
7007/7007 - 0s - loss: 2.8516 - accuracy: 0.1765
Epoch 83/100
7007/7007 - 0s - loss: 2.8498 - accuracy: 0.1774
Epoch 84/100
7007/7007 - 1s - loss: 2.8464 - accuracy: 0.1731
Epoch 85/100
7007/7007 - 0s - loss: 2.8452 - accuracy: 0.1757
Epoch 86/100
7007/7007 - 0s - loss: 2.8437 - accuracy: 0.1758
Epoch 87/100
7007/7007 - 1s - loss: 2.8405 - accuracy: 0.1761
Epoch 88/100
7007/7007 - 0s - loss: 2.8351 - accuracy: 0.1785
Epoch 89/100
7007/7007 - 0s - loss: 2.8358 - accuracy: 0.1750
Epoch 90/100
7007/7007 - 0s - loss: 2.8331 - accuracy: 0.1783
Epoch 91/100
7007/7007 - 0s - loss: 2.8308 - accuracy: 0.1791
Epoch 92/100
7007/7007 - 1s - loss: 2.8275 - accuracy: 0.1748
Epoch 93/100
7007/7007 - 1s - loss: 2.8247 - accuracy: 0.1801
Epoch 94/100

## Evaluate the model

In [ ]:
X_train_scaled.shape

In [ ]:
y_train_categorical.shape

In [ ]:
y_test_categorical

y_test_categorical.shape

In [ ]:
X_test_scaled.shape

In [ ]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

## Score the model

In [ ]:
print(f"Deep Learning Training Data Score r2: {model.score(X_train_scaled, y_train_categorical)}")
print(f"Deep Learning, Neural network Testing Data Score r2: {model.score(X_test_scaled, y_test_categorical)}")

## Hyperparameter Tuning

Use GridSearchCV to tune the model's parameters

In [ ]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
param_grid = {'n_estimators': [250, 300, 350],
              'max_depth': [125, 150, 175]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [ ]:
# Train the model with GridSearch
grid.fit(X_train_scaled, y_train_categorical)

In [ ]:
print(grid.best_params_)
print(grid.best_score_)

In [ ]:
# Training score:
grid.score(X_train_scaled, y_train_categorical)

In [ ]:
# Testing score:
grid.score(X_test_scaled, y_test_categorical)

In [ ]:
# Make prediction and save to variable for report.
predictions = grid.predict(X_test_scaled)

In [ ]:
# Print Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test_categorical, predictions))

In [ ]:
#????????????????????  WHAT IS THIS?
%matplotlib notebook
from yellowbrick.classifier import ClassificationReport
viz = ClassificationReport(RandomForestClassifier())
viz.fit(X_train_scaled, y_train)
viz.score(X_test_scaled, y_test)
viz.finalize()
viz.show(outpath="classificationreport.png")

## Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'models.sav'
joblib.dump(model, filename)

### Correlation Matrix

In [ ]:
corrMatrix = df.corr()
print (corrMatrix)
sn.heatmap(corrMatrix, annot=True)
plt.tight_layout()
plt.autoscale()

plt.savefig('correlation_matrix.png', bbox_inches='tight', pad_inches=0.0)
plt.show()